{% extends 'app/layout.html' %}
{% block title %}Контакты{% endblock %}
{% block content %}
<h1>Контакты</h1>
<p>Вы можете связаться со мной по следующим каналам:</p>
<ul>
    <li>Электронная почта: <a href="mailto:student@example.com">bif086@yandex.ru</a></li>
    <li>Телеграм: <a href="https://t.me/your_username" target="_blank">@fgmgjh</a></li>
    <li>GitHub: <a href="https://github.com/truebif" target="_blank">github.com/truebif</a></li>
</ul>
<p>Или просто воспользуйтесь формой обратной связи на сайте!</p>
{% endblock %}
