{% extends 'app/layout.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="text-center mb-4">
    <h1>Главная</h1>
    <p class="lead">Добро пожаловать на сайт!</p>
</div>

<div class="d-flex justify-content-center">
  <div class="carousel-wrapper w-50">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'app/content/banner1.jpeg' %}" class="d-block w-100" alt="Баннер 1">
        </div>
        <div class="carousel-item">
          <img src="{% static 'app/content/banner2.jpeg' %}" class="d-block w-100" alt="Баннер 2">
        </div>
        <div class="carousel-item">
          <img src="{% static 'app/content/banner3.jpeg' %}" class="d-block w-100" alt="Баннер 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
{% endblock %}